<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.qifu.fm.mapper.FmAiAnalysisAccessMapper">
	<resultMap id="BaseResultMap" type="org.qifu.fm.entity.FmAiAnalysisAccess">
		<id column="OID" jdbcType="CHAR" property="oid" />
		<result column="TENANT_ID" jdbcType="VARCHAR" property="tenantId" />
		<result column="ACCESS_ID" jdbcType="VARCHAR" property="accessId" />
		<result column="ANALYSIS_ID" jdbcType="VARCHAR" property="analysisId" />
		<result column="TASK_ID" jdbcType="VARCHAR" property="taskId" />
		<result column="ACTOR_ACCOUNT" jdbcType="VARCHAR" property="actorAccount" />
		<result column="ACCESS_TYPE" jdbcType="VARCHAR" property="accessType" />
		<result column="RESULT_STATUS" jdbcType="VARCHAR" property="resultStatus" />
		<result column="ERROR_CODE" jdbcType="VARCHAR" property="errorCode" />
		<result column="REQUEST_DATE" jdbcType="TIMESTAMP" property="requestDate" />
		<result column="CUSERID" jdbcType="VARCHAR" property="cuserid" />
		<result column="CDATE" jdbcType="TIMESTAMP" property="cdate" />
	</resultMap>
	<sql id="BaseColumnList">
		OID, TENANT_ID, ACCESS_ID, ANALYSIS_ID, TASK_ID, ACTOR_ACCOUNT,
		ACCESS_TYPE, RESULT_STATUS, ERROR_CODE, REQUEST_DATE, CUSERID, CDATE
	</sql>
	<sql id="baseConditions">
		<if test="tenantId != null and tenantId != ''">
			AND TENANT_ID = #{tenantId,jdbcType=VARCHAR}
		</if>
		<if test="analysisId != null and analysisId != ''">
			AND ANALYSIS_ID = #{analysisId,jdbcType=VARCHAR}
		</if>
		<if test="taskId != null and taskId != ''">
			AND TASK_ID = #{taskId,jdbcType=VARCHAR}
		</if>
		<if test="actorAccount != null and actorAccount != ''">
			AND ACTOR_ACCOUNT = #{actorAccount,jdbcType=VARCHAR}
		</if>
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		SELECT <include refid="BaseColumnList" />
		  FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_ai_analysis_access
		 WHERE OID = #{oid,jdbcType=CHAR}
	</select>
	<select id="selectListByParams" parameterType="java.util.HashMap" resultMap="BaseResultMap">
		SELECT <include refid="BaseColumnList" />
		  FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_ai_analysis_access
		 WHERE 1 = 1 <include refid="baseConditions" />
		<if test="orderBy != null and orderBy != ''">
			ORDER BY ${orderBy} ${sortType}
		</if>
	</select>
	<select id="findPage" parameterType="java.util.HashMap" resultMap="BaseResultMap">
		<include refid="org.qifu.core.mapper.DB1Config.sql1" />
		SELECT <include refid="BaseColumnList" />
		  FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_ai_analysis_access
		 WHERE 1 = 1 <include refid="baseConditions" />
		<include refid="org.qifu.core.mapper.DB1Config.sql2" />
	</select>
	<select id="count" parameterType="java.util.HashMap" resultType="java.lang.Long">
		SELECT COUNT(*)
		  FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_ai_analysis_access
		 WHERE 1 = 1 <include refid="baseConditions" />
	</select>
	<insert id="insert" parameterType="org.qifu.fm.entity.FmAiAnalysisAccess">
		INSERT INTO <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_ai_analysis_access
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="oid != null">
				OID,
			</if>
			<if test="tenantId != null">
				TENANT_ID,
			</if>
			<if test="accessId != null">
				ACCESS_ID,
			</if>
			<if test="analysisId != null">
				ANALYSIS_ID,
			</if>
			<if test="taskId != null">
				TASK_ID,
			</if>
			<if test="actorAccount != null">
				ACTOR_ACCOUNT,
			</if>
			<if test="accessType != null">
				ACCESS_TYPE,
			</if>
			<if test="resultStatus != null">
				RESULT_STATUS,
			</if>
			<if test="errorCode != null">
				ERROR_CODE,
			</if>
			<if test="requestDate != null">
				REQUEST_DATE,
			</if>
			<if test="cuserid != null">
				CUSERID,
			</if>
			<if test="cdate != null">
				CDATE,
			</if>
		</trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
			<if test="oid != null">
				#{oid,jdbcType=CHAR},
			</if>
			<if test="tenantId != null">
				#{tenantId,jdbcType=VARCHAR},
			</if>
			<if test="accessId != null">
				#{accessId,jdbcType=VARCHAR},
			</if>
			<if test="analysisId != null">
				#{analysisId,jdbcType=VARCHAR},
			</if>
			<if test="taskId != null">
				#{taskId,jdbcType=VARCHAR},
			</if>
			<if test="actorAccount != null">
				#{actorAccount,jdbcType=VARCHAR},
			</if>
			<if test="accessType != null">
				#{accessType,jdbcType=VARCHAR},
			</if>
			<if test="resultStatus != null">
				#{resultStatus,jdbcType=VARCHAR},
			</if>
			<if test="errorCode != null">
				#{errorCode,jdbcType=VARCHAR},
			</if>
			<if test="requestDate != null">
				#{requestDate,jdbcType=TIMESTAMP},
			</if>
			<if test="cuserid != null">
				#{cuserid,jdbcType=VARCHAR},
			</if>
			<if test="cdate != null">
				#{cdate,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="update" parameterType="org.qifu.fm.entity.FmAiAnalysisAccess">
		UPDATE <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_ai_analysis_access
		<set>
			<if test="errorCode != null">
				ERROR_CODE = #{errorCode,jdbcType=VARCHAR},
			</if>
		</set>
		 WHERE OID = #{oid,jdbcType=CHAR}
		   AND TENANT_ID = #{tenantId,jdbcType=VARCHAR}
	</update>
	<delete id="delete" parameterType="org.qifu.fm.entity.FmAiAnalysisAccess">
		DELETE FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_ai_analysis_access
		 WHERE OID = #{oid,jdbcType=CHAR}
		   AND TENANT_ID = #{tenantId,jdbcType=VARCHAR}
	</delete>
</mapper>
