<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.qifu.fm.mapper.FmDataActionVersionMapper">

  <resultMap id="BaseResultMap" type="org.qifu.fm.entity.FmDataActionVersion">
    <result column="OID" jdbcType="CHAR" property="oid"/>
    <result column="TENANT_ID" jdbcType="VARCHAR" property="tenantId"/>
    <result column="ACTION_ID" jdbcType="VARCHAR" property="actionId"/>
    <result column="VERSION_NO" jdbcType="INTEGER" property="versionNo"/>
    <result column="VERSION_STATUS" jdbcType="VARCHAR" property="versionStatus"/>
    <result column="CONTENT_SHA256" jdbcType="CHAR" property="contentSha256"/>
    <result column="PUBLISHED_BY" jdbcType="VARCHAR" property="publishedBy"/>
    <result column="PUBLISHED_DATE" jdbcType="TIMESTAMP" property="publishedDate"/>
    <result column="CUSERID" jdbcType="VARCHAR" property="cuserid"/>
    <result column="CDATE" jdbcType="TIMESTAMP" property="cdate"/>
    <result column="UUSERID" jdbcType="VARCHAR" property="uuserid"/>
    <result column="UDATE" jdbcType="TIMESTAMP" property="udate"/>
  </resultMap>

  <sql id="Base_Column_List">
      OID,
      TENANT_ID,
      ACTION_ID,
      VERSION_NO,
      VERSION_STATUS,
      CONTENT_SHA256,
      PUBLISHED_BY,
      PUBLISHED_DATE,
      CUSERID,
      CDATE,
      UUSERID,
      UDATE
  </sql>

  <sql id="baseConditions">
    <if test="tenantId != null">
      AND TENANT_ID = #{tenantId,jdbcType=VARCHAR}
    </if>
    <if test="actionId != null">
      AND ACTION_ID = #{actionId,jdbcType=VARCHAR}
    </if>
    <if test="versionNo != null">
      AND VERSION_NO = #{versionNo,jdbcType=INTEGER}
    </if>
    <if test="versionStatus != null">
      AND VERSION_STATUS = #{versionStatus,jdbcType=VARCHAR}
    </if>
    <if test="contentSha256 != null">
      AND CONTENT_SHA256 = #{contentSha256,jdbcType=CHAR}
    </if>
    <if test="publishedBy != null">
      AND PUBLISHED_BY = #{publishedBy,jdbcType=VARCHAR}
    </if>
    <if test="publishedDate != null">
      AND PUBLISHED_DATE = #{publishedDate,jdbcType=TIMESTAMP}
    </if>
    <if test="cuserid != null">
      AND CUSERID = #{cuserid,jdbcType=VARCHAR}
    </if>
    <if test="cdate != null">
      AND CDATE = #{cdate,jdbcType=TIMESTAMP}
    </if>
    <if test="uuserid != null">
      AND UUSERID = #{uuserid,jdbcType=VARCHAR}
    </if>
    <if test="udate != null">
      AND UDATE = #{udate,jdbcType=TIMESTAMP}
    </if>
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
      FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_data_action_version
     WHERE OID = #{oid,jdbcType=CHAR}
  </select>

  <select id="selectListByParams" parameterType="map" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
      FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_data_action_version
     WHERE 1 = 1
    <include refid="baseConditions"/>
    <if test="orderBy != null and orderBy != ''">
     ORDER BY ${orderBy}
      <if test="sortType != null and sortType != ''">
        ${sortType}
      </if>
    </if>
  </select>

  <select id="findPage" parameterType="map" resultMap="BaseResultMap">
    <include refid="org.qifu.core.mapper.DB1Config.sql1"/>
    SELECT
    <include refid="Base_Column_List"/>
      FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_data_action_version
     WHERE 1 = 1
    <include refid="baseConditions"/>
    <if test="orderBy != null and orderBy != ''">
     ORDER BY ${orderBy}
      <if test="sortType != null and sortType != ''">
        ${sortType}
      </if>
    </if>
    <include refid="org.qifu.core.mapper.DB1Config.sql2"/>
  </select>

  <select id="count" parameterType="map" resultType="long">
    SELECT COUNT(1)
      FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_data_action_version
     WHERE 1 = 1
    <include refid="baseConditions"/>
  </select>

  <insert id="insert" parameterType="org.qifu.fm.entity.FmDataActionVersion">
    INSERT INTO <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_data_action_version
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        OID,
      </if>
      <if test="tenantId != null">
        TENANT_ID,
      </if>
      <if test="actionId != null">
        ACTION_ID,
      </if>
      <if test="versionNo != null">
        VERSION_NO,
      </if>
      <if test="versionStatus != null">
        VERSION_STATUS,
      </if>
      <if test="contentSha256 != null">
        CONTENT_SHA256,
      </if>
      <if test="publishedBy != null">
        PUBLISHED_BY,
      </if>
      <if test="publishedDate != null">
        PUBLISHED_DATE,
      </if>
      <if test="cuserid != null">
        CUSERID,
      </if>
      <if test="cdate != null">
        CDATE,
      </if>
      <if test="uuserid != null">
        UUSERID,
      </if>
      <if test="udate != null">
        UDATE,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        #{oid,jdbcType=CHAR},
      </if>
      <if test="tenantId != null">
        #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="actionId != null">
        #{actionId,jdbcType=VARCHAR},
      </if>
      <if test="versionNo != null">
        #{versionNo,jdbcType=INTEGER},
      </if>
      <if test="versionStatus != null">
        #{versionStatus,jdbcType=VARCHAR},
      </if>
      <if test="contentSha256 != null">
        #{contentSha256,jdbcType=CHAR},
      </if>
      <if test="publishedBy != null">
        #{publishedBy,jdbcType=VARCHAR},
      </if>
      <if test="publishedDate != null">
        #{publishedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cuserid != null">
        #{cuserid,jdbcType=VARCHAR},
      </if>
      <if test="cdate != null">
        #{cdate,jdbcType=TIMESTAMP},
      </if>
      <if test="uuserid != null">
        #{uuserid,jdbcType=VARCHAR},
      </if>
      <if test="udate != null">
        #{udate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="update" parameterType="org.qifu.fm.entity.FmDataActionVersion">
    UPDATE <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_data_action_version
    <set>
      <if test="versionNo != null">
        VERSION_NO = #{versionNo,jdbcType=INTEGER},
      </if>
      <if test="versionStatus != null">
        VERSION_STATUS = #{versionStatus,jdbcType=VARCHAR},
      </if>
      <if test="contentSha256 != null">
        CONTENT_SHA256 = #{contentSha256,jdbcType=CHAR},
      </if>
      <if test="publishedBy != null">
        PUBLISHED_BY = #{publishedBy,jdbcType=VARCHAR},
      </if>
      <if test="publishedDate != null">
        PUBLISHED_DATE = #{publishedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="uuserid != null">
        UUSERID = #{uuserid,jdbcType=VARCHAR},
      </if>
      <if test="udate != null">
        UDATE = #{udate,jdbcType=TIMESTAMP},
      </if>
    </set>
     WHERE OID = #{oid,jdbcType=CHAR}
       AND TENANT_ID = #{tenantId,jdbcType=VARCHAR}
  </update>

  <delete id="delete" parameterType="org.qifu.fm.entity.FmDataActionVersion">
    DELETE FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_data_action_version
     WHERE OID = #{oid,jdbcType=CHAR}
       AND TENANT_ID = #{tenantId,jdbcType=VARCHAR}
  </delete>

</mapper>

