<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.qifu.fm.mapper.FmEmployeeMapper">
  <resultMap id="BaseResultMap" type="org.qifu.fm.entity.FmEmployee">
    <id column="OID" jdbcType="CHAR" property="oid" />
    <result column="TENANT_ID" jdbcType="VARCHAR" property="tenantId" />
    <result column="EMPLOYEE_ID" jdbcType="VARCHAR" property="employeeId" />
    <result column="EMPLOYEE_NO" jdbcType="VARCHAR" property="employeeNo" />
    <result column="ACCOUNT" jdbcType="VARCHAR" property="account" />
    <result column="DISPLAY_NAME" jdbcType="VARCHAR" property="displayName" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="LOCALE" jdbcType="VARCHAR" property="locale" />
    <result column="TIMEZONE" jdbcType="VARCHAR" property="timezone" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="EFFECTIVE_FROM" jdbcType="TIMESTAMP" property="effectiveFrom" />
    <result column="EFFECTIVE_TO" jdbcType="TIMESTAMP" property="effectiveTo" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="CUSERID" jdbcType="VARCHAR" property="cuserid" />
    <result column="CDATE" jdbcType="TIMESTAMP" property="cdate" />
    <result column="UUSERID" jdbcType="VARCHAR" property="uuserid" />
    <result column="UDATE" jdbcType="TIMESTAMP" property="udate" />
  </resultMap>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT * FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_employee WHERE OID = #{oid,jdbcType=CHAR}
  </select>

  <sql id="baseConditions">
    <if test="tenantId != null and tenantId != ''.toString()">
      AND TENANT_ID = #{tenantId,jdbcType=VARCHAR}
    </if>
    <if test="employeeId != null and employeeId != ''.toString()">
      AND EMPLOYEE_ID = #{employeeId,jdbcType=VARCHAR}
    </if>
    <if test="employeeNo != null and employeeNo != ''.toString()">
      AND EMPLOYEE_NO = #{employeeNo,jdbcType=VARCHAR}
    </if>
    <if test="employeeNoLike != null and employeeNoLike != ''.toString()">
      AND EMPLOYEE_NO LIKE #{employeeNoLike,jdbcType=VARCHAR}
    </if>
    <if test="account != null and account != ''.toString()">
      AND ACCOUNT = #{account,jdbcType=VARCHAR}
    </if>
    <if test="accountLike != null and accountLike != ''.toString()">
      AND ACCOUNT LIKE #{accountLike,jdbcType=VARCHAR}
    </if>
    <if test="displayNameLike != null and displayNameLike != ''.toString()">
      AND DISPLAY_NAME LIKE #{displayNameLike,jdbcType=VARCHAR}
    </if>
    <if test="status != null and status != ''.toString()">
      AND STATUS = #{status,jdbcType=VARCHAR}
    </if>
  </sql>

  <select id="selectListByParams" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    SELECT * FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_employee WHERE 1 = 1
    <include refid="baseConditions" />
    <if test="orderBy != null and orderBy != ''.toString() and sortType != null and sortType != ''.toString()">
      ORDER BY ${orderBy} ${sortType}
    </if>
  </select>

  <select id="findPage" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    <include refid="org.qifu.core.mapper.DB1Config.sql1"/>
    SELECT * FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_employee WHERE 1 = 1
    <include refid="baseConditions" />
    <include refid="org.qifu.core.mapper.DB1Config.sql2"/>
  </select>

  <select id="count" parameterType="java.util.HashMap" resultType="java.lang.Long">
    SELECT COUNT(*) FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_employee WHERE 1 = 1
    <include refid="baseConditions" />
  </select>

  <insert id="insert" parameterType="org.qifu.fm.entity.FmEmployee">
    INSERT INTO <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_employee
      (OID, TENANT_ID, EMPLOYEE_ID, EMPLOYEE_NO, ACCOUNT, DISPLAY_NAME, EMAIL, MOBILE, LOCALE, TIMEZONE,
       STATUS, EFFECTIVE_FROM, EFFECTIVE_TO, DESCRIPTION, CUSERID, CDATE)
    VALUES
      (#{oid,jdbcType=CHAR}, #{tenantId,jdbcType=VARCHAR}, #{employeeId,jdbcType=VARCHAR},
       #{employeeNo,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR}, #{displayName,jdbcType=VARCHAR},
       #{email,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{locale,jdbcType=VARCHAR},
       #{timezone,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{effectiveFrom,jdbcType=TIMESTAMP},
       #{effectiveTo,jdbcType=TIMESTAMP}, #{description,jdbcType=VARCHAR}, #{cuserid,jdbcType=VARCHAR},
       #{cdate,jdbcType=TIMESTAMP})
  </insert>

  <update id="update" parameterType="org.qifu.fm.entity.FmEmployee">
    UPDATE <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_employee
       SET EMPLOYEE_NO = #{employeeNo,jdbcType=VARCHAR},
           ACCOUNT = #{account,jdbcType=VARCHAR},
           DISPLAY_NAME = #{displayName,jdbcType=VARCHAR},
           EMAIL = #{email,jdbcType=VARCHAR},
           MOBILE = #{mobile,jdbcType=VARCHAR},
           LOCALE = #{locale,jdbcType=VARCHAR},
           TIMEZONE = #{timezone,jdbcType=VARCHAR},
           STATUS = #{status,jdbcType=VARCHAR},
           EFFECTIVE_FROM = #{effectiveFrom,jdbcType=TIMESTAMP},
           EFFECTIVE_TO = #{effectiveTo,jdbcType=TIMESTAMP},
           DESCRIPTION = #{description,jdbcType=VARCHAR},
           UUSERID = #{uuserid,jdbcType=VARCHAR},
           UDATE = #{udate,jdbcType=TIMESTAMP}
     WHERE OID = #{oid,jdbcType=CHAR}
  </update>

  <delete id="delete" parameterType="org.qifu.fm.entity.FmEmployee">
    DELETE FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_employee WHERE OID = #{oid,jdbcType=CHAR}
  </delete>
</mapper>
