<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.qifu.fm.mapper.FmFormVersionMapper">

  <resultMap id="BaseResultMap" type="org.qifu.fm.entity.FmFormVersion">
    <id column="OID" jdbcType="CHAR" property="oid" />
    <result column="TENANT_ID" jdbcType="VARCHAR" property="tenantId" />
    <result column="FORM_ID" jdbcType="VARCHAR" property="formId" />
    <result column="VERSION_NO" jdbcType="INTEGER" property="versionNo" />
    <result column="VERSION_STATUS" jdbcType="VARCHAR" property="versionStatus" />
    <result column="SCHEMA_CONTENT" jdbcType="LONGVARCHAR" property="schemaContent" />
    <result column="UI_SCHEMA_CONTENT" jdbcType="LONGVARCHAR" property="uiSchemaContent" />
    <result column="CUSTOM_SCRIPT_CONTENT" jdbcType="LONGVARCHAR" property="customScriptContent" />
    <result column="CONTENT_SHA256" jdbcType="CHAR" property="contentSha256" />
    <result column="PUBLISHED_BY" jdbcType="VARCHAR" property="publishedBy" />
    <result column="PUBLISHED_DATE" jdbcType="TIMESTAMP" property="publishedDate" />
    <result column="CUSERID" jdbcType="VARCHAR" property="cuserid" />
    <result column="CDATE" jdbcType="TIMESTAMP" property="cdate" />
    <result column="UUSERID" jdbcType="VARCHAR" property="uuserid" />
    <result column="UDATE" jdbcType="TIMESTAMP" property="udate" />
  </resultMap>

  <sql id="BaseColumnList">
    OID,
    TENANT_ID,
    FORM_ID,
    VERSION_NO,
    VERSION_STATUS,
    SCHEMA_CONTENT,
    UI_SCHEMA_CONTENT,
    CUSTOM_SCRIPT_CONTENT,
    CONTENT_SHA256,
    PUBLISHED_BY,
    PUBLISHED_DATE,
    CUSERID,
    CDATE,
    UUSERID,
    UDATE
  </sql>

  <sql id="baseConditions">
    <if test="tenantId != null and tenantId != ''">
      AND TENANT_ID = #{tenantId,jdbcType=VARCHAR}
    </if>
    <if test="formId != null and formId != ''">
      AND FORM_ID = #{formId,jdbcType=VARCHAR}
    </if>
    <if test="versionNo != null">
      AND VERSION_NO = #{versionNo,jdbcType=INTEGER}
    </if>
    <if test="versionStatus != null and versionStatus != ''">
      AND VERSION_STATUS = #{versionStatus,jdbcType=VARCHAR}
    </if>
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT <include refid="BaseColumnList" />
    FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_form_version
    WHERE OID = #{oid,jdbcType=CHAR}
  </select>

  <select id="selectListByParams" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    SELECT <include refid="BaseColumnList" />
    FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_form_version
    WHERE 1 = 1
    <include refid="baseConditions" />
    <if test="orderBy != null and orderBy != '' and sortType != null and sortType != ''">
      ORDER BY ${orderBy} ${sortType}
    </if>
  </select>

  <select id="findPage" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    <include refid="org.qifu.core.mapper.DB1Config.sql1" />
    SELECT <include refid="BaseColumnList" />
    FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_form_version
    WHERE 1 = 1
    <include refid="baseConditions" />
    <include refid="org.qifu.core.mapper.DB1Config.sql2" />
  </select>

  <select id="count" parameterType="java.util.HashMap" resultType="java.lang.Long">
    SELECT COUNT(*)
    FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_form_version
    WHERE 1 = 1
    <include refid="baseConditions" />
  </select>

  <insert id="insert" parameterType="org.qifu.fm.entity.FmFormVersion">
    INSERT INTO <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_form_version
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        OID,
      </if>
      <if test="tenantId != null">
        TENANT_ID,
      </if>
      <if test="formId != null">
        FORM_ID,
      </if>
      <if test="versionNo != null">
        VERSION_NO,
      </if>
      <if test="versionStatus != null">
        VERSION_STATUS,
      </if>
      <if test="schemaContent != null">
        SCHEMA_CONTENT,
      </if>
      <if test="uiSchemaContent != null">
        UI_SCHEMA_CONTENT,
      </if>
      <if test="customScriptContent != null">
        CUSTOM_SCRIPT_CONTENT,
      </if>
      <if test="contentSha256 != null">
        CONTENT_SHA256,
      </if>
      <if test="publishedBy != null">
        PUBLISHED_BY,
      </if>
      <if test="publishedDate != null">
        PUBLISHED_DATE,
      </if>
      <if test="cuserid != null">
        CUSERID,
      </if>
      <if test="cdate != null">
        CDATE,
      </if>
      <if test="uuserid != null">
        UUSERID,
      </if>
      <if test="udate != null">
        UDATE,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        #{oid,jdbcType=CHAR},
      </if>
      <if test="tenantId != null">
        #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="formId != null">
        #{formId,jdbcType=VARCHAR},
      </if>
      <if test="versionNo != null">
        #{versionNo,jdbcType=INTEGER},
      </if>
      <if test="versionStatus != null">
        #{versionStatus,jdbcType=VARCHAR},
      </if>
      <if test="schemaContent != null">
        #{schemaContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="uiSchemaContent != null">
        #{uiSchemaContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="customScriptContent != null">
        #{customScriptContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="contentSha256 != null">
        #{contentSha256,jdbcType=CHAR},
      </if>
      <if test="publishedBy != null">
        #{publishedBy,jdbcType=VARCHAR},
      </if>
      <if test="publishedDate != null">
        #{publishedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cuserid != null">
        #{cuserid,jdbcType=VARCHAR},
      </if>
      <if test="cdate != null">
        #{cdate,jdbcType=TIMESTAMP},
      </if>
      <if test="uuserid != null">
        #{uuserid,jdbcType=VARCHAR},
      </if>
      <if test="udate != null">
        #{udate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="update" parameterType="org.qifu.fm.entity.FmFormVersion">
    UPDATE <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_form_version
    <set>
      <if test="versionStatus != null">
        VERSION_STATUS = #{versionStatus,jdbcType=VARCHAR},
      </if>
      <if test="schemaContent != null">
        SCHEMA_CONTENT = #{schemaContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="uiSchemaContent != null">
        UI_SCHEMA_CONTENT = #{uiSchemaContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="customScriptContent != null">
        CUSTOM_SCRIPT_CONTENT = #{customScriptContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="contentSha256 != null">
        CONTENT_SHA256 = #{contentSha256,jdbcType=CHAR},
      </if>
      <if test="publishedBy != null">
        PUBLISHED_BY = #{publishedBy,jdbcType=VARCHAR},
      </if>
      <if test="publishedDate != null">
        PUBLISHED_DATE = #{publishedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="uuserid != null">
        UUSERID = #{uuserid,jdbcType=VARCHAR},
      </if>
      <if test="udate != null">
        UDATE = #{udate,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE OID = #{oid,jdbcType=CHAR}
  </update>

  <delete id="delete" parameterType="org.qifu.fm.entity.FmFormVersion">
    DELETE FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_form_version
    WHERE OID = #{oid,jdbcType=CHAR}
  </delete>
</mapper>
