<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.qifu.fm.mapper.FmNotificationMapper">
  <resultMap id="BaseResultMap" type="org.qifu.fm.entity.FmNotification">
    <id column="OID" jdbcType="CHAR" property="oid" />
    <result column="TENANT_ID" jdbcType="VARCHAR" property="tenantId" />
    <result column="NOTIFICATION_ID" jdbcType="VARCHAR" property="notificationId" />
    <result column="RECIPIENT_ACCOUNT" jdbcType="VARCHAR" property="recipientAccount" />
    <result column="CHANNEL_TYPE" jdbcType="VARCHAR" property="channelType" />
    <result column="EVENT_TYPE" jdbcType="VARCHAR" property="eventType" />
    <result column="SUBJECT" jdbcType="VARCHAR" property="subject" />
    <result column="CONTENT_TEXT" jdbcType="LONGVARCHAR" property="contentText" />
    <result column="REFERENCE_TYPE" jdbcType="VARCHAR" property="referenceType" />
    <result column="REFERENCE_ID" jdbcType="VARCHAR" property="referenceId" />
    <result column="DELIVERY_STATUS" jdbcType="VARCHAR" property="deliveryStatus" />
    <result column="RETRY_COUNT" jdbcType="INTEGER" property="retryCount" />
    <result column="NEXT_RETRY_DATE" jdbcType="TIMESTAMP" property="nextRetryDate" />
    <result column="SENT_DATE" jdbcType="TIMESTAMP" property="sentDate" />
    <result column="READ_DATE" jdbcType="TIMESTAMP" property="readDate" />
    <result column="LAST_ERROR" jdbcType="VARCHAR" property="lastError" />
    <result column="PROVIDER_MESSAGE_ID" jdbcType="VARCHAR" property="providerMessageId" />
    <result column="CUSERID" jdbcType="VARCHAR" property="cuserid" />
    <result column="CDATE" jdbcType="TIMESTAMP" property="cdate" />
    <result column="UUSERID" jdbcType="VARCHAR" property="uuserid" />
    <result column="UDATE" jdbcType="TIMESTAMP" property="udate" />
  </resultMap>
  <sql id="BaseColumnList">
    OID, TENANT_ID, NOTIFICATION_ID, RECIPIENT_ACCOUNT, CHANNEL_TYPE,
    EVENT_TYPE, SUBJECT, CONTENT_TEXT, REFERENCE_TYPE, REFERENCE_ID,
    DELIVERY_STATUS, RETRY_COUNT, NEXT_RETRY_DATE, SENT_DATE, READ_DATE,
    LAST_ERROR, PROVIDER_MESSAGE_ID, CUSERID, CDATE, UUSERID, UDATE
  </sql>
  <sql id="baseConditions">
    <if test="tenantId != null and tenantId != ''">AND TENANT_ID = #{tenantId,jdbcType=VARCHAR}</if>
    <if test="notificationId != null and notificationId != ''">AND NOTIFICATION_ID = #{notificationId,jdbcType=VARCHAR}</if>
    <if test="recipientAccount != null and recipientAccount != ''">AND RECIPIENT_ACCOUNT = #{recipientAccount,jdbcType=VARCHAR}</if>
    <if test="channelType != null and channelType != ''">AND CHANNEL_TYPE = #{channelType,jdbcType=VARCHAR}</if>
    <if test="eventType != null and eventType != ''">AND EVENT_TYPE = #{eventType,jdbcType=VARCHAR}</if>
    <if test="deliveryStatus != null and deliveryStatus != ''">AND DELIVERY_STATUS = #{deliveryStatus,jdbcType=VARCHAR}</if>
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT <include refid="BaseColumnList" /> FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_notification WHERE OID = #{oid,jdbcType=CHAR}
  </select>
  <select id="selectListByParams" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    SELECT <include refid="BaseColumnList" /> FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_notification WHERE 1 = 1
    <include refid="baseConditions" />
    <if test="orderBy != null and orderBy != '' and sortType != null and sortType != ''">ORDER BY ${orderBy} ${sortType}</if>
  </select>
  <select id="findPage" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    <include refid="org.qifu.core.mapper.DB1Config.sql1" />
    SELECT <include refid="BaseColumnList" /> FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_notification WHERE 1 = 1
    <include refid="baseConditions" />
    <include refid="org.qifu.core.mapper.DB1Config.sql2" />
  </select>
  <select id="count" parameterType="java.util.HashMap" resultType="java.lang.Long">
    SELECT COUNT(*) FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_notification WHERE 1 = 1 <include refid="baseConditions" />
  </select>
  <insert id="insert" parameterType="org.qifu.fm.entity.FmNotification">
    INSERT INTO <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_notification
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">OID,</if><if test="tenantId != null">TENANT_ID,</if><if test="notificationId != null">NOTIFICATION_ID,</if>
      <if test="recipientAccount != null">RECIPIENT_ACCOUNT,</if><if test="channelType != null">CHANNEL_TYPE,</if><if test="eventType != null">EVENT_TYPE,</if>
      <if test="subject != null">SUBJECT,</if><if test="contentText != null">CONTENT_TEXT,</if><if test="referenceType != null">REFERENCE_TYPE,</if>
      <if test="referenceId != null">REFERENCE_ID,</if><if test="deliveryStatus != null">DELIVERY_STATUS,</if><if test="retryCount != null">RETRY_COUNT,</if>
      <if test="nextRetryDate != null">NEXT_RETRY_DATE,</if><if test="sentDate != null">SENT_DATE,</if><if test="readDate != null">READ_DATE,</if>
      <if test="lastError != null">LAST_ERROR,</if><if test="providerMessageId != null">PROVIDER_MESSAGE_ID,</if><if test="cuserid != null">CUSERID,</if><if test="cdate != null">CDATE,</if>
      <if test="uuserid != null">UUSERID,</if><if test="udate != null">UDATE,</if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
      <if test="oid != null">#{oid,jdbcType=CHAR},</if><if test="tenantId != null">#{tenantId,jdbcType=VARCHAR},</if><if test="notificationId != null">#{notificationId,jdbcType=VARCHAR},</if>
      <if test="recipientAccount != null">#{recipientAccount,jdbcType=VARCHAR},</if><if test="channelType != null">#{channelType,jdbcType=VARCHAR},</if><if test="eventType != null">#{eventType,jdbcType=VARCHAR},</if>
      <if test="subject != null">#{subject,jdbcType=VARCHAR},</if><if test="contentText != null">#{contentText,jdbcType=LONGVARCHAR},</if><if test="referenceType != null">#{referenceType,jdbcType=VARCHAR},</if>
      <if test="referenceId != null">#{referenceId,jdbcType=VARCHAR},</if><if test="deliveryStatus != null">#{deliveryStatus,jdbcType=VARCHAR},</if><if test="retryCount != null">#{retryCount,jdbcType=INTEGER},</if>
      <if test="nextRetryDate != null">#{nextRetryDate,jdbcType=TIMESTAMP},</if><if test="sentDate != null">#{sentDate,jdbcType=TIMESTAMP},</if><if test="readDate != null">#{readDate,jdbcType=TIMESTAMP},</if>
      <if test="lastError != null">#{lastError,jdbcType=VARCHAR},</if><if test="providerMessageId != null">#{providerMessageId,jdbcType=VARCHAR},</if><if test="cuserid != null">#{cuserid,jdbcType=VARCHAR},</if><if test="cdate != null">#{cdate,jdbcType=TIMESTAMP},</if>
      <if test="uuserid != null">#{uuserid,jdbcType=VARCHAR},</if><if test="udate != null">#{udate,jdbcType=TIMESTAMP},</if>
    </trim>
  </insert>
  <update id="update" parameterType="org.qifu.fm.entity.FmNotification">
    UPDATE <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_notification
    <set><if test="deliveryStatus != null">DELIVERY_STATUS = #{deliveryStatus,jdbcType=VARCHAR},</if><if test="retryCount != null">RETRY_COUNT = #{retryCount,jdbcType=INTEGER},</if><if test="nextRetryDate != null">NEXT_RETRY_DATE = #{nextRetryDate,jdbcType=TIMESTAMP},</if><if test="sentDate != null">SENT_DATE = #{sentDate,jdbcType=TIMESTAMP},</if><if test="readDate != null">READ_DATE = #{readDate,jdbcType=TIMESTAMP},</if><if test="lastError != null">LAST_ERROR = #{lastError,jdbcType=VARCHAR},</if><if test="providerMessageId != null">PROVIDER_MESSAGE_ID = #{providerMessageId,jdbcType=VARCHAR},</if><if test="uuserid != null">UUSERID = #{uuserid,jdbcType=VARCHAR},</if><if test="udate != null">UDATE = #{udate,jdbcType=TIMESTAMP},</if></set>
    WHERE OID = #{oid,jdbcType=CHAR}
  </update>
  <delete id="delete" parameterType="java.lang.String">DELETE FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_notification WHERE OID = #{oid,jdbcType=CHAR}</delete>
  <select id="findInbox" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    SELECT <include refid="BaseColumnList" /> FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_notification
    WHERE TENANT_ID = #{tenantId,jdbcType=VARCHAR} AND RECIPIENT_ACCOUNT = #{recipientAccount,jdbcType=VARCHAR} AND CHANNEL_TYPE = 'IN_APP'
    ORDER BY CDATE DESC LIMIT #{limit,jdbcType=INTEGER}
  </select>
  <select id="countUnread" parameterType="java.util.HashMap" resultType="java.lang.Long">
    SELECT COUNT(*) FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_notification
    WHERE TENANT_ID = #{tenantId,jdbcType=VARCHAR} AND RECIPIENT_ACCOUNT = #{recipientAccount,jdbcType=VARCHAR} AND CHANNEL_TYPE = 'IN_APP' AND READ_DATE IS NULL
  </select>
  <update id="markRead" parameterType="java.util.HashMap">
    UPDATE <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_notification SET READ_DATE = #{readDate,jdbcType=TIMESTAMP}, DELIVERY_STATUS = 'READ', UUSERID = #{recipientAccount,jdbcType=VARCHAR}, UDATE = #{readDate,jdbcType=TIMESTAMP}
    WHERE TENANT_ID = #{tenantId,jdbcType=VARCHAR} AND RECIPIENT_ACCOUNT = #{recipientAccount,jdbcType=VARCHAR} AND NOTIFICATION_ID = #{notificationId,jdbcType=VARCHAR} AND CHANNEL_TYPE = 'IN_APP' AND READ_DATE IS NULL
  </update>
  <update id="markAllRead" parameterType="java.util.HashMap">
    UPDATE <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_notification SET READ_DATE = #{readDate,jdbcType=TIMESTAMP}, DELIVERY_STATUS = 'READ', UUSERID = #{recipientAccount,jdbcType=VARCHAR}, UDATE = #{readDate,jdbcType=TIMESTAMP}
    WHERE TENANT_ID = #{tenantId,jdbcType=VARCHAR} AND RECIPIENT_ACCOUNT = #{recipientAccount,jdbcType=VARCHAR} AND CHANNEL_TYPE = 'IN_APP' AND READ_DATE IS NULL
  </update>
  <insert id="insertIfAbsent" parameterType="org.qifu.fm.entity.FmNotification">
    INSERT INTO <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_notification
        (OID, TENANT_ID, NOTIFICATION_ID, RECIPIENT_ACCOUNT, CHANNEL_TYPE,
         EVENT_TYPE, SUBJECT, CONTENT_TEXT, REFERENCE_TYPE, REFERENCE_ID,
         DELIVERY_STATUS, RETRY_COUNT, SENT_DATE, PROVIDER_MESSAGE_ID, CUSERID, CDATE)
    SELECT #{oid,jdbcType=CHAR}, #{tenantId,jdbcType=VARCHAR},
           #{notificationId,jdbcType=VARCHAR}, #{recipientAccount,jdbcType=VARCHAR},
           #{channelType,jdbcType=VARCHAR}, #{eventType,jdbcType=VARCHAR},
           #{subject,jdbcType=VARCHAR}, #{contentText,jdbcType=LONGVARCHAR},
           #{referenceType,jdbcType=VARCHAR}, #{referenceId,jdbcType=VARCHAR},
           #{deliveryStatus,jdbcType=VARCHAR}, #{retryCount,jdbcType=INTEGER},
           #{sentDate,jdbcType=TIMESTAMP}, #{providerMessageId,jdbcType=VARCHAR}, #{cuserid,jdbcType=VARCHAR},
           #{cdate,jdbcType=TIMESTAMP}
     WHERE NOT EXISTS (
           SELECT 1
             FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_notification
            WHERE TENANT_ID = #{tenantId,jdbcType=VARCHAR}
              AND NOTIFICATION_ID = #{notificationId,jdbcType=VARCHAR})
  </insert>
  <select id="findPendingEmail" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    SELECT <include refid="BaseColumnList" />
      FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_notification
     WHERE CHANNEL_TYPE = 'EMAIL' AND DELIVERY_STATUS = 'PENDING'
       AND PROVIDER_MESSAGE_ID IS NOT NULL
     ORDER BY CDATE
     LIMIT #{limit,jdbcType=INTEGER}
  </select>
  <update id="markDelivered" parameterType="java.util.HashMap">
    UPDATE <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_notification
       SET DELIVERY_STATUS = 'SENT', SENT_DATE = #{sentDate,jdbcType=TIMESTAMP},
           UUSERID = 'mail-sync', UDATE = #{sentDate,jdbcType=TIMESTAMP}
     WHERE TENANT_ID = #{tenantId,jdbcType=VARCHAR}
       AND NOTIFICATION_ID = #{notificationId,jdbcType=VARCHAR}
       AND PROVIDER_MESSAGE_ID = #{providerMessageId,jdbcType=VARCHAR}
       AND CHANNEL_TYPE = 'EMAIL' AND DELIVERY_STATUS = 'PENDING'
  </update>
</mapper>
