<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.qifu.fm.mapper.FmOrgTitleMapper">
  <resultMap id="BaseResultMap" type="org.qifu.fm.entity.FmOrgTitle">
    <id column="OID" property="oid" />
    <result column="TENANT_ID" property="tenantId" />
    <result column="TITLE_ID" property="titleId" />
    <result column="TITLE_CODE" property="titleCode" />
    <result column="TITLE_NAME" property="titleName" />
    <result column="APPROVAL_LEVEL_ID" property="approvalLevelId" />
    <result column="IS_MANAGER_TITLE" property="isManagerTitle" />
    <result column="SORT_NO" property="sortNo" />
    <result column="STATUS" property="status" />
    <result column="EFFECTIVE_FROM" property="effectiveFrom" />
    <result column="EFFECTIVE_TO" property="effectiveTo" />
    <result column="DESCRIPTION" property="description" />
    <result column="CUSERID" property="cuserid" />
    <result column="CDATE" property="cdate" />
    <result column="UUSERID" property="uuserid" />
    <result column="UDATE" property="udate" />
  </resultMap>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    SELECT * FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_org_title WHERE OID = #{oid,jdbcType=CHAR}
  </select>
  <sql id="conditions">
    <if test="tenantId!=null and tenantId!=''">
      AND TENANT_ID=#{tenantId,jdbcType=VARCHAR}
    </if>
    <if test="approvalLevelId!=null and approvalLevelId!=''">
      AND APPROVAL_LEVEL_ID=#{approvalLevelId,jdbcType=VARCHAR}
    </if>
    <if test="titleCodeLike!=null and titleCodeLike!=''">
      AND TITLE_CODE LIKE CONCAT('%',#{titleCodeLike,jdbcType=VARCHAR},'%')
    </if>
    <if test="titleNameLike!=null and titleNameLike!=''">
      AND TITLE_NAME LIKE CONCAT('%',#{titleNameLike,jdbcType=VARCHAR},'%')
    </if>
    <if test="status!=null and status!=''">
      AND STATUS=#{status,jdbcType=VARCHAR}
    </if>
  </sql>
  <select id="selectListByParams" resultMap="BaseResultMap">
    SELECT * FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_org_title WHERE 1=1
    <include refid="conditions"/>
    <if test="orderBy != null and orderBy != '' and sortType != null and sortType != ''">
      ORDER BY ${orderBy} ${sortType}
    </if>
  </select>
  <select id="findPage" resultMap="BaseResultMap">
    <include refid="org.qifu.core.mapper.DB1Config.sql1"/> SELECT * FROM
    <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_org_title WHERE 1=1
    <include refid="conditions"/><include refid="org.qifu.core.mapper.DB1Config.sql2"/>
  </select>
  <select id="count" resultType="java.lang.Long">
    SELECT COUNT(*) FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_org_title WHERE 1=1
    <include refid="conditions"/>
  </select>
  <insert id="insert">
    INSERT INTO <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_org_title
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        OID,
      </if>
      <if test="tenantId != null">
        TENANT_ID,
      </if>
      <if test="titleId != null">
        TITLE_ID,
      </if>
      <if test="titleCode != null">
        TITLE_CODE,
      </if>
      <if test="titleName != null">
        TITLE_NAME,
      </if>
      <if test="approvalLevelId != null">
        APPROVAL_LEVEL_ID,
      </if>
      <if test="isManagerTitle != null">
        IS_MANAGER_TITLE,
      </if>
      <if test="sortNo != null">
        SORT_NO,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="effectiveFrom != null">
        EFFECTIVE_FROM,
      </if>
      <if test="effectiveTo != null">
        EFFECTIVE_TO,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="cuserid != null">
        CUSERID,
      </if>
      <if test="cdate != null">
        CDATE,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        #{oid,jdbcType=CHAR},
      </if>
      <if test="tenantId != null">
        #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="titleId != null">
        #{titleId,jdbcType=VARCHAR},
      </if>
      <if test="titleCode != null">
        #{titleCode,jdbcType=VARCHAR},
      </if>
      <if test="titleName != null">
        #{titleName,jdbcType=VARCHAR},
      </if>
      <if test="approvalLevelId != null">
        #{approvalLevelId,jdbcType=VARCHAR},
      </if>
      <if test="isManagerTitle != null">
        #{isManagerTitle,jdbcType=CHAR},
      </if>
      <if test="sortNo != null">
        #{sortNo,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="effectiveFrom != null">
        #{effectiveFrom,jdbcType=TIMESTAMP},
      </if>
      <if test="effectiveTo != null">
        #{effectiveTo,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="cuserid != null">
        #{cuserid,jdbcType=VARCHAR},
      </if>
      <if test="cdate != null">
        #{cdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="update">
    UPDATE <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_org_title
    <set>
      <if test="titleName != null">
        TITLE_NAME = #{titleName,jdbcType=VARCHAR},
      </if>
      <if test="approvalLevelId != null">
        APPROVAL_LEVEL_ID = #{approvalLevelId,jdbcType=VARCHAR},
      </if>
      <if test="isManagerTitle != null">
        IS_MANAGER_TITLE = #{isManagerTitle,jdbcType=CHAR},
      </if>
      <if test="sortNo != null">
        SORT_NO = #{sortNo,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="effectiveFrom != null">
        EFFECTIVE_FROM = #{effectiveFrom,jdbcType=TIMESTAMP},
      </if>
      <if test="effectiveTo != null">
        EFFECTIVE_TO = #{effectiveTo,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="uuserid != null">
        UUSERID = #{uuserid,jdbcType=VARCHAR},
      </if>
      <if test="udate != null">
        UDATE = #{udate,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE OID=#{oid,jdbcType=CHAR}
  </update>
  <delete id="delete">
    DELETE FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_org_title
    WHERE OID = #{oid,jdbcType=CHAR}
  </delete>
</mapper>
