<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.qifu.fm.mapper.FmOrgUnitVersionMapper">
  <resultMap id="BaseResultMap" type="org.qifu.fm.entity.FmOrgUnitVersion">
    <id column="OID" jdbcType="CHAR" property="oid" />
    <result column="TENANT_ID" jdbcType="VARCHAR" property="tenantId" />
    <result column="ORG_UNIT_ID" jdbcType="VARCHAR" property="orgUnitId" />
    <result column="VERSION_NO" jdbcType="INTEGER" property="versionNo" />
    <result column="PARENT_ORG_UNIT_ID" jdbcType="VARCHAR" property="parentOrgUnitId" />
    <result column="UNIT_NAME" jdbcType="VARCHAR" property="unitName" />
    <result column="SHORT_NAME" jdbcType="VARCHAR" property="shortName" />
    <result column="UNIT_TYPE" jdbcType="VARCHAR" property="unitType" />
    <result column="TREE_DEPTH" jdbcType="INTEGER" property="treeDepth" />
    <result column="PATH" jdbcType="VARCHAR" property="path" />
    <result column="SORT_NO" jdbcType="INTEGER" property="sortNo" />
    <result column="IS_VIRTUAL" jdbcType="CHAR" property="isVirtual" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="EFFECTIVE_FROM" jdbcType="TIMESTAMP" property="effectiveFrom" />
    <result column="EFFECTIVE_TO" jdbcType="TIMESTAMP" property="effectiveTo" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="CUSERID" jdbcType="VARCHAR" property="cuserid" />
    <result column="CDATE" jdbcType="TIMESTAMP" property="cdate" />
    <result column="UUSERID" jdbcType="VARCHAR" property="uuserid" />
    <result column="UDATE" jdbcType="TIMESTAMP" property="udate" />
  </resultMap>

  <resultMap id="CurrentViewResultMap" type="org.qifu.fm.dto.view.FmOrgUnitView">
    <id column="UNIT_OID" jdbcType="CHAR" property="oid" />
    <result column="TENANT_ID" jdbcType="VARCHAR" property="tenantId" />
    <result column="ORG_UNIT_ID" jdbcType="VARCHAR" property="orgUnitId" />
    <result column="UNIT_CODE" jdbcType="VARCHAR" property="unitCode" />
    <result column="CURRENT_VERSION_NO" jdbcType="INTEGER" property="currentVersionNo" />
    <result column="VERSION_OID" jdbcType="CHAR" property="versionOid" />
    <result column="PARENT_ORG_UNIT_ID" jdbcType="VARCHAR" property="parentOrgUnitId" />
    <result column="UNIT_NAME" jdbcType="VARCHAR" property="unitName" />
    <result column="SHORT_NAME" jdbcType="VARCHAR" property="shortName" />
    <result column="UNIT_TYPE" jdbcType="VARCHAR" property="unitType" />
    <result column="TREE_DEPTH" jdbcType="INTEGER" property="treeDepth" />
    <result column="PATH" jdbcType="VARCHAR" property="path" />
    <result column="SORT_NO" jdbcType="INTEGER" property="sortNo" />
    <result column="IS_VIRTUAL" jdbcType="CHAR" property="isVirtual" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="EFFECTIVE_FROM" jdbcType="TIMESTAMP" property="effectiveFrom" />
    <result column="EFFECTIVE_TO" jdbcType="TIMESTAMP" property="effectiveTo" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
  </resultMap>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT *
      FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_org_unit_version
     WHERE OID = #{oid,jdbcType=CHAR}
  </select>

  <sql id="baseConditions">
    <if test="tenantId != null and tenantId != ''.toString()">
      AND TENANT_ID = #{tenantId,jdbcType=VARCHAR}
    </if>
    <if test="orgUnitId != null and orgUnitId != ''.toString()">
      AND ORG_UNIT_ID = #{orgUnitId,jdbcType=VARCHAR}
    </if>
    <if test="versionNo != null">
      AND VERSION_NO = #{versionNo,jdbcType=INTEGER}
    </if>
    <if test="parentOrgUnitId != null and parentOrgUnitId != ''.toString()">
      AND PARENT_ORG_UNIT_ID = #{parentOrgUnitId,jdbcType=VARCHAR}
    </if>
    <if test="status != null and status != ''.toString()">
      AND STATUS = #{status,jdbcType=VARCHAR}
    </if>
  </sql>

  <select id="selectListByParams" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    SELECT *
      FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_org_unit_version
     WHERE 1 = 1
    <include refid="baseConditions" />
    <if test="orderBy != null and orderBy != ''.toString() and sortType != null and sortType != ''.toString()">
      ORDER BY ${orderBy} ${sortType}
    </if>
  </select>

  <select id="findPage" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    <include refid="org.qifu.core.mapper.DB1Config.sql1"/>
    SELECT *
      FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_org_unit_version
     WHERE 1 = 1
    <include refid="baseConditions" />
    <include refid="org.qifu.core.mapper.DB1Config.sql2"/>
  </select>

  <select id="count" parameterType="java.util.HashMap" resultType="java.lang.Long">
    SELECT COUNT(*)
      FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_org_unit_version
     WHERE 1 = 1
    <include refid="baseConditions" />
  </select>

  <insert id="insert" parameterType="org.qifu.fm.entity.FmOrgUnitVersion">
    INSERT INTO <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_org_unit_version
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        OID,
      </if>
      <if test="tenantId != null">
        TENANT_ID,
      </if>
      <if test="orgUnitId != null">
        ORG_UNIT_ID,
      </if>
      <if test="versionNo != null">
        VERSION_NO,
      </if>
      <if test="parentOrgUnitId != null">
        PARENT_ORG_UNIT_ID,
      </if>
      <if test="unitName != null">
        UNIT_NAME,
      </if>
      <if test="shortName != null">
        SHORT_NAME,
      </if>
      <if test="unitType != null">
        UNIT_TYPE,
      </if>
      <if test="treeDepth != null">
        TREE_DEPTH,
      </if>
      <if test="path != null">
        PATH,
      </if>
      <if test="sortNo != null">
        SORT_NO,
      </if>
      <if test="isVirtual != null">
        IS_VIRTUAL,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="effectiveFrom != null">
        EFFECTIVE_FROM,
      </if>
      <if test="effectiveTo != null">
        EFFECTIVE_TO,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="cuserid != null">
        CUSERID,
      </if>
      <if test="cdate != null">
        CDATE,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        #{oid,jdbcType=CHAR},
      </if>
      <if test="tenantId != null">
        #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="orgUnitId != null">
        #{orgUnitId,jdbcType=VARCHAR},
      </if>
      <if test="versionNo != null">
        #{versionNo,jdbcType=INTEGER},
      </if>
      <if test="parentOrgUnitId != null">
        #{parentOrgUnitId,jdbcType=VARCHAR},
      </if>
      <if test="unitName != null">
        #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="shortName != null">
        #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="unitType != null">
        #{unitType,jdbcType=VARCHAR},
      </if>
      <if test="treeDepth != null">
        #{treeDepth,jdbcType=INTEGER},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="sortNo != null">
        #{sortNo,jdbcType=INTEGER},
      </if>
      <if test="isVirtual != null">
        #{isVirtual,jdbcType=CHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="effectiveFrom != null">
        #{effectiveFrom,jdbcType=TIMESTAMP},
      </if>
      <if test="effectiveTo != null">
        #{effectiveTo,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="cuserid != null">
        #{cuserid,jdbcType=VARCHAR},
      </if>
      <if test="cdate != null">
        #{cdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="update" parameterType="org.qifu.fm.entity.FmOrgUnitVersion">
    UPDATE <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_org_unit_version
    <set>
      <if test="parentOrgUnitId != null">
        PARENT_ORG_UNIT_ID = #{parentOrgUnitId,jdbcType=VARCHAR},
      </if>
      <if test="unitName != null">
        UNIT_NAME = #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="shortName != null">
        SHORT_NAME = #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="unitType != null">
        UNIT_TYPE = #{unitType,jdbcType=VARCHAR},
      </if>
      <if test="treeDepth != null">
        TREE_DEPTH = #{treeDepth,jdbcType=INTEGER},
      </if>
      <if test="path != null">
        PATH = #{path,jdbcType=VARCHAR},
      </if>
      <if test="sortNo != null">
        SORT_NO = #{sortNo,jdbcType=INTEGER},
      </if>
      <if test="isVirtual != null">
        IS_VIRTUAL = #{isVirtual,jdbcType=CHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="effectiveFrom != null">
        EFFECTIVE_FROM = #{effectiveFrom,jdbcType=TIMESTAMP},
      </if>
      <if test="effectiveTo != null">
        EFFECTIVE_TO = #{effectiveTo,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="uuserid != null">
        UUSERID = #{uuserid,jdbcType=VARCHAR},
      </if>
      <if test="udate != null">
        UDATE = #{udate,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE OID = #{oid,jdbcType=CHAR}
  </update>

  <delete id="delete" parameterType="java.lang.String">
    DELETE FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_org_unit_version
     WHERE OID = #{oid,jdbcType=CHAR}
  </delete>

  <sql id="currentSelect">
    SELECT u.OID AS UNIT_OID,
           u.TENANT_ID,
           u.ORG_UNIT_ID,
           u.UNIT_CODE,
           u.CURRENT_VERSION_NO,
           v.OID AS VERSION_OID,
           v.PARENT_ORG_UNIT_ID,
           v.UNIT_NAME,
           v.SHORT_NAME,
           v.UNIT_TYPE,
           v.TREE_DEPTH,
           v.PATH,
           v.SORT_NO,
           v.IS_VIRTUAL,
           v.STATUS,
           v.EFFECTIVE_FROM,
           v.EFFECTIVE_TO,
           v.DESCRIPTION
      FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_org_unit u
      JOIN <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_org_unit_version v
        ON v.TENANT_ID = u.TENANT_ID
       AND v.ORG_UNIT_ID = u.ORG_UNIT_ID
       AND v.VERSION_NO = u.CURRENT_VERSION_NO
  </sql>

  <sql id="currentConditions">
    <if test="tenantId != null and tenantId != ''.toString()">
      AND u.TENANT_ID = #{tenantId,jdbcType=VARCHAR}
    </if>
    <if test="orgUnitId != null and orgUnitId != ''.toString()">
      AND u.ORG_UNIT_ID = #{orgUnitId,jdbcType=VARCHAR}
    </if>
    <if test="unitCodeLike != null and unitCodeLike != ''.toString()">
      AND u.UNIT_CODE LIKE #{unitCodeLike,jdbcType=VARCHAR}
    </if>
    <if test="unitNameLike != null and unitNameLike != ''.toString()">
      AND v.UNIT_NAME LIKE #{unitNameLike,jdbcType=VARCHAR}
    </if>
    <if test="status != null and status != ''.toString()">
      AND v.STATUS = #{status,jdbcType=VARCHAR}
    </if>
  </sql>

  <sql id="effectiveSelect">
    SELECT u.OID AS UNIT_OID,
           u.TENANT_ID,
           u.ORG_UNIT_ID,
           u.UNIT_CODE,
           v.VERSION_NO AS CURRENT_VERSION_NO,
           v.OID AS VERSION_OID,
           v.PARENT_ORG_UNIT_ID,
           v.UNIT_NAME,
           v.SHORT_NAME,
           v.UNIT_TYPE,
           v.TREE_DEPTH,
           v.PATH,
           v.SORT_NO,
           v.IS_VIRTUAL,
           v.STATUS,
           v.EFFECTIVE_FROM,
           v.EFFECTIVE_TO,
           v.DESCRIPTION
      FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_org_unit u
      JOIN <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_org_unit_version v
        ON v.TENANT_ID = u.TENANT_ID
       AND v.ORG_UNIT_ID = u.ORG_UNIT_ID
  </sql>

  <select id="selectCurrentTree" parameterType="java.util.HashMap" resultMap="CurrentViewResultMap">
    <include refid="currentSelect" />
     WHERE 1 = 1
    <include refid="currentConditions" />
     ORDER BY v.PATH ASC, v.SORT_NO ASC, u.UNIT_CODE ASC
  </select>

  <select id="selectEffective" resultMap="CurrentViewResultMap">
    <include refid="effectiveSelect" />
     WHERE u.TENANT_ID = #{tenantId,jdbcType=VARCHAR}
       AND u.ORG_UNIT_ID = #{orgUnitId,jdbcType=VARCHAR}
       AND v.EFFECTIVE_FROM &lt;= #{effectiveAt,jdbcType=TIMESTAMP}
       AND (v.EFFECTIVE_TO IS NULL OR v.EFFECTIVE_TO &gt; #{effectiveAt,jdbcType=TIMESTAMP})
     ORDER BY v.VERSION_NO DESC
     LIMIT 1
  </select>

  <select id="selectEffectiveTree" resultMap="CurrentViewResultMap">
    <include refid="effectiveSelect" />
     WHERE u.TENANT_ID = #{tenantId,jdbcType=VARCHAR}
       AND v.EFFECTIVE_FROM &lt;= #{effectiveAt,jdbcType=TIMESTAMP}
       AND (v.EFFECTIVE_TO IS NULL OR v.EFFECTIVE_TO &gt; #{effectiveAt,jdbcType=TIMESTAMP})
       AND (#{includeInactive,jdbcType=BOOLEAN} = TRUE OR v.STATUS = 'ACTIVE')
       AND NOT EXISTS (
         SELECT 1
           FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_org_unit_version newer
          WHERE newer.TENANT_ID = v.TENANT_ID
            AND newer.ORG_UNIT_ID = v.ORG_UNIT_ID
            AND newer.VERSION_NO &gt; v.VERSION_NO
            AND newer.EFFECTIVE_FROM &lt;= #{effectiveAt,jdbcType=TIMESTAMP}
            AND (newer.EFFECTIVE_TO IS NULL OR newer.EFFECTIVE_TO &gt; #{effectiveAt,jdbcType=TIMESTAMP})
       )
     ORDER BY v.PATH ASC, v.SORT_NO ASC, u.UNIT_CODE ASC
  </select>

  <select id="findCurrentPage" parameterType="java.util.HashMap" resultMap="CurrentViewResultMap">
    <include refid="org.qifu.core.mapper.DB1Config.sql1"/>
    <include refid="currentSelect" />
     WHERE 1 = 1
    <include refid="currentConditions" />
     ORDER BY v.PATH ASC, v.SORT_NO ASC, u.UNIT_CODE ASC
    <include refid="org.qifu.core.mapper.DB1Config.sql2"/>
  </select>

  <select id="countCurrent" parameterType="java.util.HashMap" resultType="java.lang.Long">
    SELECT COUNT(*)
      FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_org_unit u
      JOIN <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_org_unit_version v
        ON v.TENANT_ID = u.TENANT_ID
       AND v.ORG_UNIT_ID = u.ORG_UNIT_ID
       AND v.VERSION_NO = u.CURRENT_VERSION_NO
     WHERE 1 = 1
    <include refid="currentConditions" />
  </select>
</mapper>
