<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.qifu.fm.mapper.FmOrgLevelSchemeMapper">
  <resultMap id="BaseResultMap" type="org.qifu.fm.entity.FmOrgLevelScheme">
    <id column="OID" property="oid" />
    <result column="TENANT_ID" property="tenantId" />
    <result column="LEVEL_SCHEME_ID" property="levelSchemeId" />
    <result column="SCHEME_CODE" property="schemeCode" />
    <result column="SCHEME_NAME" property="schemeName" />
    <result column="IS_DEFAULT" property="isDefault" />
    <result column="STATUS" property="status" />
    <result column="EFFECTIVE_FROM" property="effectiveFrom" />
    <result column="EFFECTIVE_TO" property="effectiveTo" />
    <result column="DESCRIPTION" property="description" />
    <result column="CUSERID" property="cuserid" />
    <result column="CDATE" property="cdate" />
    <result column="UUSERID" property="uuserid" />
    <result column="UDATE" property="udate" />
  </resultMap>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    SELECT * FROM
    <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_org_level_scheme WHERE OID = #{oid,jdbcType=CHAR}
  </select>
  <sql id="conditions">
    <if test="tenantId!=null and tenantId!=''">
      AND TENANT_ID=#{tenantId,jdbcType=VARCHAR}
    </if>
    <if test="levelSchemeId!=null and levelSchemeId!=''">
      AND LEVEL_SCHEME_ID=#{levelSchemeId,jdbcType=VARCHAR}
    </if>
    <if test="schemeCodeLike!=null and schemeCodeLike!=''">
      AND SCHEME_CODE LIKE #{schemeCodeLike,jdbcType=VARCHAR}
    </if>
    <if test="schemeNameLike!=null and schemeNameLike!=''">
      AND SCHEME_NAME LIKE #{schemeNameLike,jdbcType=VARCHAR}
    </if>
    <if test="status!=null and status!=''">
      AND STATUS=#{status,jdbcType=VARCHAR}
    </if>
  </sql>
  <select id="selectListByParams" resultMap="BaseResultMap">
    SELECT * FROM
    <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_org_level_scheme WHERE 1 = 1
    <include refid="conditions" />
    <if test="orderBy!=null and orderBy!=''">
      ORDER BY ${orderBy} ${sortType}
    </if>
  </select>
  <select id="findPage" resultMap="BaseResultMap">
    <include refid="org.qifu.core.mapper.DB1Config.sql1" />
    SELECT * FROM
    <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_org_level_scheme WHERE 1 = 1
    <include refid="conditions" />
    <include refid="org.qifu.core.mapper.DB1Config.sql2" />
  </select>
  <select id="count" resultType="java.lang.Long">
    SELECT COUNT(*) FROM
    <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_org_level_scheme WHERE 1 = 1
    <include refid="conditions" />
  </select>
  <insert id="insert">
    INSERT INTO <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_org_level_scheme
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        OID,
      </if>
      <if test="tenantId != null">
        TENANT_ID,
      </if>
      <if test="levelSchemeId != null">
        LEVEL_SCHEME_ID,
      </if>
      <if test="schemeCode != null">
        SCHEME_CODE,
      </if>
      <if test="schemeName != null">
        SCHEME_NAME,
      </if>
      <if test="isDefault != null">
        IS_DEFAULT,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="effectiveFrom != null">
        EFFECTIVE_FROM,
      </if>
      <if test="effectiveTo != null">
        EFFECTIVE_TO,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="cuserid != null">
        CUSERID,
      </if>
      <if test="cdate != null">
        CDATE,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        #{oid,jdbcType=CHAR},
      </if>
      <if test="tenantId != null">
        #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="levelSchemeId != null">
        #{levelSchemeId,jdbcType=VARCHAR},
      </if>
      <if test="schemeCode != null">
        #{schemeCode,jdbcType=VARCHAR},
      </if>
      <if test="schemeName != null">
        #{schemeName,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null">
        #{isDefault,jdbcType=CHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="effectiveFrom != null">
        #{effectiveFrom,jdbcType=TIMESTAMP},
      </if>
      <if test="effectiveTo != null">
        #{effectiveTo,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="cuserid != null">
        #{cuserid,jdbcType=VARCHAR},
      </if>
      <if test="cdate != null">
        #{cdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="update">
    UPDATE <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_org_level_scheme
    <set>
      <if test="schemeCode != null">
        SCHEME_CODE = #{schemeCode,jdbcType=VARCHAR},
      </if>
      <if test="schemeName != null">
        SCHEME_NAME = #{schemeName,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null">
        IS_DEFAULT = #{isDefault,jdbcType=CHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="effectiveFrom != null">
        EFFECTIVE_FROM = #{effectiveFrom,jdbcType=TIMESTAMP},
      </if>
      <if test="effectiveTo != null">
        EFFECTIVE_TO = #{effectiveTo,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="uuserid != null">
        UUSERID = #{uuserid,jdbcType=VARCHAR},
      </if>
      <if test="udate != null">
        UDATE = #{udate,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE OID = #{oid,jdbcType=CHAR}
  </update>
  <delete id="delete">
    DELETE FROM
    <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_org_level_scheme WHERE OID = #{oid,jdbcType=CHAR}
  </delete>
</mapper>
