<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.qifu.fm.mapper.FmOrgUnitHeadMapper">
	<resultMap id="BaseResultMap" type="org.qifu.fm.entity.FmOrgUnitHead">
		<id column="OID" jdbcType="CHAR" property="oid" />
		<result column="TENANT_ID" jdbcType="VARCHAR" property="tenantId" />
		<result column="ORG_UNIT_HEAD_ID" jdbcType="VARCHAR" property="orgUnitHeadId" />
		<result column="ORG_UNIT_ID" jdbcType="VARCHAR" property="orgUnitId" />
		<result column="EMPLOYEE_ID" jdbcType="VARCHAR" property="employeeId" />
		<result column="HEAD_TYPE" jdbcType="VARCHAR" property="headType" />
		<result column="PRIORITY" jdbcType="INTEGER" property="priority" />
		<result column="STATUS" jdbcType="VARCHAR" property="status" />
		<result column="EFFECTIVE_FROM" jdbcType="TIMESTAMP" property="effectiveFrom" />
		<result column="EFFECTIVE_TO" jdbcType="TIMESTAMP" property="effectiveTo" />
		<result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
		<result column="CUSERID" jdbcType="VARCHAR" property="cuserid" />
		<result column="CDATE" jdbcType="TIMESTAMP" property="cdate" />
		<result column="UUSERID" jdbcType="VARCHAR" property="uuserid" />
		<result column="UDATE" jdbcType="TIMESTAMP" property="udate" />
	</resultMap>
	<sql id="BaseColumnList">
		OID, TENANT_ID, ORG_UNIT_HEAD_ID, ORG_UNIT_ID, EMPLOYEE_ID, HEAD_TYPE,
		PRIORITY, STATUS, EFFECTIVE_FROM, EFFECTIVE_TO, DESCRIPTION,
		CUSERID, CDATE, UUSERID, UDATE
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap">
		SELECT <include refid="BaseColumnList" />
		FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_org_unit_head
		WHERE OID = #{oid,jdbcType=CHAR}
	</select>
	<sql id="baseConditions">
		<if test="tenantId != null and tenantId != ''">
		  AND TENANT_ID = #{tenantId,jdbcType=VARCHAR}
		</if>
		<if test="orgUnitId != null and orgUnitId != ''">
		  AND ORG_UNIT_ID = #{orgUnitId,jdbcType=VARCHAR}
		</if>
		<if test="employeeId != null and employeeId != ''">
		  AND EMPLOYEE_ID = #{employeeId,jdbcType=VARCHAR}
		</if>
		<if test="headType != null and headType != ''">
		  AND HEAD_TYPE = #{headType,jdbcType=VARCHAR}
		</if>
		<if test="status != null and status != ''">
		  AND STATUS = #{status,jdbcType=VARCHAR}
		</if>
	</sql>
	<select id="selectListByParams" resultMap="BaseResultMap">
		SELECT <include refid="BaseColumnList" />
		FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_org_unit_head
		WHERE 1 = 1 <include refid="baseConditions" />
		<if test="orderBy != null and orderBy != ''">
		  ORDER BY ${orderBy} ${sortType}
		</if>
	</select>
	<select id="findPage" resultMap="BaseResultMap">
		<include refid="org.qifu.core.mapper.DB1Config.sql1" />
		SELECT <include refid="BaseColumnList" />
		FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_org_unit_head
		WHERE 1 = 1 <include refid="baseConditions" />
		<include refid="org.qifu.core.mapper.DB1Config.sql2" />
	</select>
	<select id="count" resultType="java.lang.Long">
		SELECT COUNT(*) FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_org_unit_head
		WHERE 1 = 1 <include refid="baseConditions" />
	</select>
	<insert id="insert">
    INSERT INTO <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_org_unit_head
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        OID,
      </if>
      <if test="tenantId != null">
        TENANT_ID,
      </if>
      <if test="orgUnitHeadId != null">
        ORG_UNIT_HEAD_ID,
      </if>
      <if test="orgUnitId != null">
        ORG_UNIT_ID,
      </if>
      <if test="employeeId != null">
        EMPLOYEE_ID,
      </if>
      <if test="headType != null">
        HEAD_TYPE,
      </if>
      <if test="priority != null">
        PRIORITY,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="effectiveFrom != null">
        EFFECTIVE_FROM,
      </if>
      <if test="effectiveTo != null">
        EFFECTIVE_TO,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="cuserid != null">
        CUSERID,
      </if>
      <if test="cdate != null">
        CDATE,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        #{oid,jdbcType=CHAR},
      </if>
      <if test="tenantId != null">
        #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="orgUnitHeadId != null">
        #{orgUnitHeadId,jdbcType=VARCHAR},
      </if>
      <if test="orgUnitId != null">
        #{orgUnitId,jdbcType=VARCHAR},
      </if>
      <if test="employeeId != null">
        #{employeeId,jdbcType=VARCHAR},
      </if>
      <if test="headType != null">
        #{headType,jdbcType=VARCHAR},
      </if>
      <if test="priority != null">
        #{priority,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="effectiveFrom != null">
        #{effectiveFrom,jdbcType=TIMESTAMP},
      </if>
      <if test="effectiveTo != null">
        #{effectiveTo,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="cuserid != null">
        #{cuserid,jdbcType=VARCHAR},
      </if>
      <if test="cdate != null">
        #{cdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
	<update id="update">
    UPDATE <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_org_unit_head
    <set>
      <if test="orgUnitId != null">
        ORG_UNIT_ID = #{orgUnitId,jdbcType=VARCHAR},
      </if>
      <if test="employeeId != null">
        EMPLOYEE_ID = #{employeeId,jdbcType=VARCHAR},
      </if>
      <if test="headType != null">
        HEAD_TYPE = #{headType,jdbcType=VARCHAR},
      </if>
      <if test="priority != null">
        PRIORITY = #{priority,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="effectiveFrom != null">
        EFFECTIVE_FROM = #{effectiveFrom,jdbcType=TIMESTAMP},
      </if>
      <if test="effectiveTo != null">
        EFFECTIVE_TO = #{effectiveTo,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="uuserid != null">
        UUSERID = #{uuserid,jdbcType=VARCHAR},
      </if>
      <if test="udate != null">
        UDATE = #{udate,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE OID = #{oid,jdbcType=CHAR}
      AND TENANT_ID = #{tenantId,jdbcType=VARCHAR}
  </update>
	<delete id="delete">
		DELETE FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_org_unit_head
		WHERE OID = #{oid,jdbcType=CHAR}
	</delete>
</mapper>
