<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.qifu.fm.mapper.FmProcessInstanceMapper">
  <resultMap id="BaseResultMap" type="org.qifu.fm.entity.FmProcessInstance">
    <id column="OID" jdbcType="CHAR" property="oid" />
    <result column="TENANT_ID" jdbcType="VARCHAR" property="tenantId" />
    <result column="PROCESS_INSTANCE_ID" jdbcType="VARCHAR" property="processInstanceId" />
    <result column="PROCESS_DEF_ID" jdbcType="VARCHAR" property="processDefId" />
    <result column="PROCESS_VERSION_NO" jdbcType="INTEGER" property="processVersionNo" />
    <result column="FLOWABLE_PROCESS_DEF_ID" jdbcType="VARCHAR" property="flowableProcessDefId" />
    <result column="BUSINESS_KEY" jdbcType="VARCHAR" property="businessKey" />
    <result column="FORM_DATA_ID" jdbcType="VARCHAR" property="formDataId" />
    <result column="INITIATOR_ACCOUNT" jdbcType="VARCHAR" property="initiatorAccount" />
    <result column="INITIATOR_ORG_UNIT_ID" jdbcType="VARCHAR" property="initiatorOrgUnitId" />
    <result column="INSTANCE_STATUS" jdbcType="VARCHAR" property="instanceStatus" />
    <result column="START_DATE" jdbcType="TIMESTAMP" property="startDate" />
    <result column="END_DATE" jdbcType="TIMESTAMP" property="endDate" />
    <result column="CUSERID" jdbcType="VARCHAR" property="cuserid" />
    <result column="CDATE" jdbcType="TIMESTAMP" property="cdate" />
    <result column="UUSERID" jdbcType="VARCHAR" property="uuserid" />
    <result column="UDATE" jdbcType="TIMESTAMP" property="udate" />
  </resultMap>

  <sql id="BaseColumnList">
    OID,
    TENANT_ID,
    PROCESS_INSTANCE_ID,
    PROCESS_DEF_ID,
    PROCESS_VERSION_NO,
    FLOWABLE_PROCESS_DEF_ID,
    BUSINESS_KEY,
    FORM_DATA_ID,
    INITIATOR_ACCOUNT,
    INITIATOR_ORG_UNIT_ID,
    INSTANCE_STATUS,
    START_DATE,
    END_DATE,
    CUSERID,
    CDATE,
    UUSERID,
    UDATE
  </sql>

  <sql id="baseConditions">
    <if test="tenantId != null and tenantId != ''">
      AND TENANT_ID = #{tenantId,jdbcType=VARCHAR}
    </if>
    <if test="processInstanceId != null and processInstanceId != ''">
      AND PROCESS_INSTANCE_ID = #{processInstanceId,jdbcType=VARCHAR}
    </if>
    <if test="processDefId != null and processDefId != ''">
      AND PROCESS_DEF_ID = #{processDefId,jdbcType=VARCHAR}
    </if>
    <if test="businessKey != null and businessKey != ''">
      AND BUSINESS_KEY = #{businessKey,jdbcType=VARCHAR}
    </if>
    <if test="initiatorAccount != null and initiatorAccount != ''">
      AND INITIATOR_ACCOUNT = #{initiatorAccount,jdbcType=VARCHAR}
    </if>
    <if test="instanceStatus != null and instanceStatus != ''">
      AND INSTANCE_STATUS = #{instanceStatus,jdbcType=VARCHAR}
    </if>
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT <include refid="BaseColumnList" />
    FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_process_instance
    WHERE OID = #{oid,jdbcType=CHAR}
  </select>

  <select id="selectListByParams" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    SELECT <include refid="BaseColumnList" />
    FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_process_instance
    WHERE 1 = 1
    <include refid="baseConditions" />
    <if test="orderBy != null and orderBy != '' and sortType != null and sortType != ''">
      ORDER BY ${orderBy} ${sortType}
    </if>
  </select>

  <select id="findPage" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    <include refid="org.qifu.core.mapper.DB1Config.sql1" />
    SELECT <include refid="BaseColumnList" />
    FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_process_instance
    WHERE 1 = 1
    <include refid="baseConditions" />
    <include refid="org.qifu.core.mapper.DB1Config.sql2" />
  </select>

  <select id="count" parameterType="java.util.HashMap" resultType="java.lang.Long">
    SELECT COUNT(*)
    FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_process_instance
    WHERE 1 = 1
    <include refid="baseConditions" />
  </select>

  <insert id="insert" parameterType="org.qifu.fm.entity.FmProcessInstance">
    INSERT INTO <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_process_instance
    (OID, TENANT_ID, PROCESS_INSTANCE_ID, PROCESS_DEF_ID, PROCESS_VERSION_NO,
     FLOWABLE_PROCESS_DEF_ID, BUSINESS_KEY, FORM_DATA_ID, INITIATOR_ACCOUNT,
     INITIATOR_ORG_UNIT_ID, INSTANCE_STATUS, START_DATE, END_DATE,
     CUSERID, CDATE, UUSERID, UDATE)
    VALUES
    (#{oid,jdbcType=CHAR}, #{tenantId,jdbcType=VARCHAR},
     #{processInstanceId,jdbcType=VARCHAR}, #{processDefId,jdbcType=VARCHAR},
     #{processVersionNo,jdbcType=INTEGER}, #{flowableProcessDefId,jdbcType=VARCHAR},
     #{businessKey,jdbcType=VARCHAR}, #{formDataId,jdbcType=VARCHAR},
     #{initiatorAccount,jdbcType=VARCHAR}, #{initiatorOrgUnitId,jdbcType=VARCHAR},
     #{instanceStatus,jdbcType=VARCHAR}, #{startDate,jdbcType=TIMESTAMP},
     #{endDate,jdbcType=TIMESTAMP}, #{cuserid,jdbcType=VARCHAR},
     #{cdate,jdbcType=TIMESTAMP}, #{uuserid,jdbcType=VARCHAR},
     #{udate,jdbcType=TIMESTAMP})
  </insert>

  <update id="update" parameterType="org.qifu.fm.entity.FmProcessInstance">
    UPDATE <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_process_instance
    SET INSTANCE_STATUS = #{instanceStatus,jdbcType=VARCHAR},
        END_DATE = #{endDate,jdbcType=TIMESTAMP},
        UUSERID = #{uuserid,jdbcType=VARCHAR},
        UDATE = #{udate,jdbcType=TIMESTAMP}
    WHERE OID = #{oid,jdbcType=CHAR}
  </update>

  <delete id="delete" parameterType="org.qifu.fm.entity.FmProcessInstance">
    DELETE FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_process_instance
    WHERE OID = #{oid,jdbcType=CHAR}
  </delete>
</mapper>
