<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.qifu.fm.mapper.FmProcessGroovyManifestMapper">

  <resultMap id="BaseResultMap" type="org.qifu.fm.entity.FmProcessGroovyManifest">
    <id column="OID" jdbcType="CHAR" property="oid" />
    <result column="TENANT_ID" jdbcType="VARCHAR" property="tenantId" />
    <result column="PROCESS_DEF_ID" jdbcType="VARCHAR" property="processDefId" />
    <result column="VERSION_NO" jdbcType="INTEGER" property="versionNo" />
    <result column="MANIFEST_CONTENT" jdbcType="LONGVARCHAR" property="manifestContent" />
    <result column="MANIFEST_SHA256" jdbcType="CHAR" property="manifestSha256" />
    <result column="BPMN_SHA256" jdbcType="CHAR" property="bpmnSha256" />
    <result column="ENGINE_PROFILE" jdbcType="LONGVARCHAR" property="engineProfile" />
    <result column="CUSERID" jdbcType="VARCHAR" property="cuserid" />
    <result column="CDATE" jdbcType="TIMESTAMP" property="cdate" />
  </resultMap>

  <sql id="BaseColumnList">
    OID,
    TENANT_ID,
    PROCESS_DEF_ID,
    VERSION_NO,
    MANIFEST_CONTENT,
    MANIFEST_SHA256,
    BPMN_SHA256,
    ENGINE_PROFILE,
    CUSERID,
    CDATE
  </sql>

  <sql id="baseConditions">
    AND TENANT_ID = #{tenantId,jdbcType=VARCHAR}
    <if test="processDefId != null">
      AND PROCESS_DEF_ID = #{processDefId,jdbcType=VARCHAR}
    </if>
    <if test="versionNo != null">
      AND VERSION_NO = #{versionNo,jdbcType=INTEGER}
    </if>
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT <include refid="BaseColumnList" />
    FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_process_groovy_manifest
    WHERE OID = #{oid,jdbcType=CHAR}
  </select>

  <select id="selectListByParams" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    SELECT <include refid="BaseColumnList" />
    FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_process_groovy_manifest
    WHERE 1 = 1
    <include refid="baseConditions" />
    <if test="orderBy != null and sortType != null">
      ORDER BY ${orderBy} ${sortType}
    </if>
  </select>

  <select id="findPage" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    <include refid="org.qifu.core.mapper.DB1Config.sql1" />
    SELECT <include refid="BaseColumnList" />
    FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_process_groovy_manifest
    WHERE 1 = 1
    <include refid="baseConditions" />
    <include refid="org.qifu.core.mapper.DB1Config.sql2" />
  </select>

  <select id="count" parameterType="java.util.HashMap" resultType="java.lang.Long">
    SELECT COUNT(*)
    FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_process_groovy_manifest
    WHERE 1 = 1
    <include refid="baseConditions" />
  </select>

  <insert id="insert" parameterType="org.qifu.fm.entity.FmProcessGroovyManifest">
    INSERT INTO <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_process_groovy_manifest
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        OID,
      </if>
      <if test="tenantId != null">
        TENANT_ID,
      </if>
      <if test="processDefId != null">
        PROCESS_DEF_ID,
      </if>
      <if test="versionNo != null">
        VERSION_NO,
      </if>
      <if test="manifestContent != null">
        MANIFEST_CONTENT,
      </if>
      <if test="manifestSha256 != null">
        MANIFEST_SHA256,
      </if>
      <if test="bpmnSha256 != null">
        BPMN_SHA256,
      </if>
      <if test="engineProfile != null">
        ENGINE_PROFILE,
      </if>
      <if test="cuserid != null">
        CUSERID,
      </if>
      <if test="cdate != null">
        CDATE,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        #{oid,jdbcType=CHAR},
      </if>
      <if test="tenantId != null">
        #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="processDefId != null">
        #{processDefId,jdbcType=VARCHAR},
      </if>
      <if test="versionNo != null">
        #{versionNo,jdbcType=INTEGER},
      </if>
      <if test="manifestContent != null">
        #{manifestContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="manifestSha256 != null">
        #{manifestSha256,jdbcType=CHAR},
      </if>
      <if test="bpmnSha256 != null">
        #{bpmnSha256,jdbcType=CHAR},
      </if>
      <if test="engineProfile != null">
        #{engineProfile,jdbcType=LONGVARCHAR},
      </if>
      <if test="cuserid != null">
        #{cuserid,jdbcType=VARCHAR},
      </if>
      <if test="cdate != null">
        #{cdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="update" parameterType="org.qifu.fm.entity.FmProcessGroovyManifest">
    UPDATE <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_process_groovy_manifest
    <set>
      <if test="processDefId != null">
        PROCESS_DEF_ID = #{processDefId,jdbcType=VARCHAR},
      </if>
      <if test="versionNo != null">
        VERSION_NO = #{versionNo,jdbcType=INTEGER},
      </if>
      <if test="manifestContent != null">
        MANIFEST_CONTENT = #{manifestContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="manifestSha256 != null">
        MANIFEST_SHA256 = #{manifestSha256,jdbcType=CHAR},
      </if>
      <if test="bpmnSha256 != null">
        BPMN_SHA256 = #{bpmnSha256,jdbcType=CHAR},
      </if>
      <if test="engineProfile != null">
        ENGINE_PROFILE = #{engineProfile,jdbcType=LONGVARCHAR},
      </if>
    </set>
    WHERE OID = #{oid,jdbcType=CHAR}
      AND TENANT_ID = #{tenantId,jdbcType=VARCHAR}
      AND 1 = 0
  </update>

  <delete id="delete" parameterType="org.qifu.fm.entity.FmProcessGroovyManifest">
    DELETE FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_process_groovy_manifest
    WHERE OID = #{oid,jdbcType=CHAR}
      AND TENANT_ID = #{tenantId,jdbcType=VARCHAR}
      AND 1 = 0
  </delete>

</mapper>
