<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.qifu.fm.mapper.FmRuntimeAuditMapper">

  <insert id="insertFormSnapshot" parameterType="java.util.HashMap">
    INSERT INTO <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_form_snapshot
    (
      OID,
      TENANT_ID,
      FORM_SNAPSHOT_ID,
      FORM_DATA_ID,
      PROCESS_INSTANCE_ID,
      TASK_ID,
      ACTION_TYPE,
      FORM_VERSION_NO,
      REVISION_NO,
      DATA_CONTENT,
      CONTENT_SHA256,
      SNAPSHOT_DATE,
      CUSERID,
      CDATE
    )
    VALUES
    (
      #{oid,jdbcType=CHAR},
      #{tenantId,jdbcType=VARCHAR},
      #{formSnapshotId,jdbcType=VARCHAR},
      #{formDataId,jdbcType=VARCHAR},
      #{processInstanceId,jdbcType=VARCHAR},
      #{taskId,jdbcType=VARCHAR},
      #{actionType,jdbcType=VARCHAR},
      #{formVersionNo,jdbcType=INTEGER},
      #{revisionNo,jdbcType=INTEGER},
      #{dataContent,jdbcType=LONGVARCHAR},
      #{contentSha256,jdbcType=CHAR},
      #{snapshotDate,jdbcType=TIMESTAMP},
      #{cuserid,jdbcType=VARCHAR},
      #{cdate,jdbcType=TIMESTAMP}
    )
  </insert>

  <insert id="insertTaskAction" parameterType="java.util.HashMap">
    INSERT INTO <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_task_action
    (
      OID,
      TENANT_ID,
      TASK_ACTION_ID,
      PROCESS_INSTANCE_ID,
      TASK_ID,
      TASK_DEF_KEY,
      ACTION_TYPE,
      OUTCOME,
      ACTOR_ACCOUNT,
      PRINCIPAL_ACCOUNT,
      FROM_ACCOUNT,
      TO_ACCOUNT,
      FORM_SNAPSHOT_ID,
      ASSIGNMENT_SNAPSHOT_ID,
      COMMENT_TEXT,
      REASON,
      CONTEXT_DATA,
      ACTION_DATE,
      CUSERID,
      CDATE
    )
    VALUES
    (
      #{oid,jdbcType=CHAR},
      #{tenantId,jdbcType=VARCHAR},
      #{taskActionId,jdbcType=VARCHAR},
      #{processInstanceId,jdbcType=VARCHAR},
      #{taskId,jdbcType=VARCHAR},
      #{taskDefKey,jdbcType=VARCHAR},
      #{actionType,jdbcType=VARCHAR},
      #{outcome,jdbcType=VARCHAR},
      #{actorAccount,jdbcType=VARCHAR},
      #{principalAccount,jdbcType=VARCHAR},
      #{fromAccount,jdbcType=VARCHAR},
      #{toAccount,jdbcType=VARCHAR},
      #{formSnapshotId,jdbcType=VARCHAR},
      #{assignmentSnapshotId,jdbcType=VARCHAR},
      #{commentText,jdbcType=VARCHAR},
      #{reason,jdbcType=VARCHAR},
      #{contextData,jdbcType=LONGVARCHAR},
      #{actionDate,jdbcType=TIMESTAMP},
      #{cuserid,jdbcType=VARCHAR},
      #{cdate,jdbcType=TIMESTAMP}
    )
  </insert>

  <insert id="insertAssignmentSnapshot" parameterType="java.util.HashMap">
    INSERT INTO <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_task_assignment_snapshot
    (
      OID,
      TENANT_ID,
      ASSIGNMENT_SNAPSHOT_ID,
      PROCESS_INSTANCE_ID,
      TASK_ID,
      TASK_DEF_KEY,
      RESOLUTION_SEQ,
      RESOLVER_TYPE,
      SOURCE_ACCOUNT,
      SOURCE_ORG_UNIT_ID,
      RESOLUTION_STATUS,
      RESOLUTION_CONTEXT,
      RESOLVED_DATE,
      CUSERID,
      CDATE
    )
    VALUES
    (
      #{oid,jdbcType=CHAR},
      #{tenantId,jdbcType=VARCHAR},
      #{assignmentSnapshotId,jdbcType=VARCHAR},
      #{processInstanceId,jdbcType=VARCHAR},
      #{taskId,jdbcType=VARCHAR},
      #{taskDefKey,jdbcType=VARCHAR},
      #{resolutionSeq,jdbcType=INTEGER},
      #{resolverType,jdbcType=VARCHAR},
      #{sourceAccount,jdbcType=VARCHAR},
      #{sourceOrgUnitId,jdbcType=VARCHAR},
      #{resolutionStatus,jdbcType=VARCHAR},
      #{resolutionContext,jdbcType=LONGVARCHAR},
      #{resolvedDate,jdbcType=TIMESTAMP},
      #{cuserid,jdbcType=VARCHAR},
      #{cdate,jdbcType=TIMESTAMP}
    )
  </insert>

  <insert id="insertAssignmentSnapshotDetail" parameterType="java.util.HashMap">
    INSERT INTO <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_task_assignment_snapshot_dtl
    (
      OID,
      TENANT_ID,
      ASSIGNMENT_SNAPSHOT_ID,
      RESULT_SEQ,
      RESULT_TYPE,
      RESULT_ACCOUNT,
      PRINCIPAL_ACCOUNT,
      ORG_UNIT_ID,
      ORG_UNIT_NAME,
      APPROVAL_LEVEL_ID,
      LEVEL_CODE,
      LEVEL_NAME,
      LEVEL_ORDER,
      RESOLUTION_PATH,
      CUSERID,
      CDATE
    )
    VALUES
    (
      #{oid,jdbcType=CHAR},
      #{tenantId,jdbcType=VARCHAR},
      #{assignmentSnapshotId,jdbcType=VARCHAR},
      #{resultSeq,jdbcType=INTEGER},
      #{resultType,jdbcType=VARCHAR},
      #{resultAccount,jdbcType=VARCHAR},
      #{principalAccount,jdbcType=VARCHAR},
      #{orgUnitId,jdbcType=VARCHAR},
      #{orgUnitName,jdbcType=VARCHAR},
      #{approvalLevelId,jdbcType=VARCHAR},
      #{levelCode,jdbcType=VARCHAR},
      #{levelName,jdbcType=VARCHAR},
      #{levelOrder,jdbcType=INTEGER},
      #{resolutionPath,jdbcType=LONGVARCHAR},
      #{cuserid,jdbcType=VARCHAR},
      #{cdate,jdbcType=TIMESTAMP}
    )
  </insert>

  <select id="selectFirstAssignmentSnapshotId" resultType="java.lang.String">
    SELECT ASSIGNMENT_SNAPSHOT_ID
    FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_task_assignment_snapshot
    WHERE TENANT_ID = #{tenantId,jdbcType=VARCHAR}
      AND PROCESS_INSTANCE_ID = #{processInstanceId,jdbcType=VARCHAR}
      AND RESOLUTION_STATUS = 'RESOLVED'
    ORDER BY RESOLVED_DATE,
             TASK_ID
    LIMIT 1
  </select>

  <select id="selectNextResolutionSeq" resultType="java.lang.Integer">
    SELECT COALESCE(MAX(RESOLUTION_SEQ), 0) + 1
    FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>fm_task_assignment_snapshot
    WHERE TENANT_ID = #{tenantId,jdbcType=VARCHAR}
      AND PROCESS_INSTANCE_ID = #{processInstanceId,jdbcType=VARCHAR}
      AND TASK_DEF_KEY = #{taskDefKey,jdbcType=VARCHAR}
  </select>

</mapper>
